
.bioWraper{
    width: 100%;
    background: #f7f7f7;
    margin-top: -15px !important;
}

.divider{

    color: darkblue;
}
.dividWraper{
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.resumeWraper{
   padding: 50px 6% 120px 6%;
}

@keyframes moveIn{
    0%{
        transform: translateY(-1000px);
    }

}


.backup{
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 30px;
    font-size: 16px;
    border-radius: 0;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #0054FF;
    bottom: 10px;
    opacity: 1;
    z-index:99;
    border: 0;
    animation: moveIn 2s;
}
.backup span{
    font-size: 16px;
}
.backup:hover{
    background: #FCAF17;
    transition: all .3s ease-out 0s;
}

.backupOut{
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 30px;
    font-size: 16px;
    border-radius: 0;
    color: #fff;
    text-align: center;
    bottom: 10px;
    opacity: 1;
    z-index:99;
    border: 0;

    background: transparent;
    transition: all 1s ease-out 0s;

}
.backupOut span{
    color: transparent;
    font-size: 16px;
    transition: all 1s ease-out 0s;

}